@font-face {
    font-family: Norse;
    src: url(Norse-Bold.otf);
}
h5 {
    font-weight: 600;
    margin-top: 10px;
    margin-block-end: 10px;
}
.row {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(0, 1.25fr) minmax(0, 1fr) minmax(0, 1fr);
  }
  
  .left {
    background-image: url("fantasy.jpeg");
  }
  
  .right {
  
   display: grid;
   grid-column: 2/4;
  }

  *.right > div {
    display: grid;
    padding-left: 30px;
  }
  
  .top_right {
    background-color: rgb(240, 240, 240);
    display: grid;;
  }
  .middle_right {
    background-color: white;
    padding: 15px;
  }
form {
    display: grid;
    grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    grid-template-rows: auto;
    row-gap: 15px;
    column-gap: 15px;
}

#first_name {
    grid-row: 1;
}
#last_name {
    grid-row: 1;
}
  .bottom_right {
    background-color:rgb(224, 224, 224);
  }
  #odin {
    margin-top: 25vh;
    background-color:rgba(43,43,43,0.6);
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: Norse;
    color: white;
    text-align: center;
    font-size: 4rem;
  }

  #odin_text {
    font-family: Norse;
    color: white;
    text-align: center;
    font-size: 4rem;
  }

  #pitch {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  button {
    height: 35px;
    width: 150px;
    border-radius: 7.5px;
    margin-top: 30px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    color: white;
    background-color: rgba(41, 66, 3, 0.664);
  }

  #login{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(41, 66, 3, 0.664);
    font-weight: 600;
  }

p {
    font-size: small;
}